<h2><%= link_to 'Accounts', accounts_path %></h2>

<% @accounts.each do |account| %>
  <p>Account: <%= account['name'] %></p>
  <p>Balance: <%= account['balance'] %></p>
  <h4>List of Incomes</h4>
  <ul>
    <% account['incomes']&.each do |income| %>
      <li><%= line_financial_records(income) %></li>
    <% end %>
  </ul>
  <h4>List of Outcomes</h4>
  <ul>
    <% account['outcomes']&.each do |outcome| %>
      <li><%= line_financial_records(outcome) %></li>
    <% end %>
  </ul>
<% end %>

<hr/>