<%= form_with model: [ @account, @financial_record ] do |f| %>
  <div>
    <%= f.label :record_date %>
    <%= f.text_field :record_date %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :category %>
    <%= 
      f.select :category, 
      options_for_select(
        FinancialRecord.categories.map { |key, value| [key, key] },
        @financial_record.category.present? ? @financial_record.category : ""
      )
    %>
  </div>

  <div>
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>