<h2>Financial records</h2>

<h4>Account: <%= @account.name %></h4>

<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Category</th>
    <th>Value</th>
    <th>&nbsp;</th>
  <tr>
  <% @financial_records.each do |fr| %>
    <tr>
      <td><%= fr.record_date %></td>
      <td>
        <%= link_to fr.description, edit_account_financial_record_path(@account, fr) %>
      </td>
      <td><%= fr.category %></td>
      <td><%= fr.value %></td>
      <td><%= link_to "Delete", account_path(fr),
                method: :delete,
                data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New Financial Record", new_account_financial_record_path %>